<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>About Us</title>
    <link rel="stylesheet" href="/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@700&display=swap" rel="stylesheet">
</head>

<body>
    <%- include('header') %>

        <main>
            <div id="about-us">
                <h1>About GunplaSeeker</h1>
                <p>GunplaSeeker is a platform for fans of Gundam.
                    We help fans discover, share, and list Gundam models to sell or trade.</p>
                <p>Our mission is to connect fans around the world</p>

            </div>
        </main>

        <%- include('footer') %>
</body>

</html>