<!DOCTYPE html>
<!--this template is used for displaying all the models in the database so that 
when one is selected it automatically search the database for that model without using the search bar-->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Website Name: Listings Page</title>
    <!--/static/style.css is from the virtual path specified in the middleware serving static files-->
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <header>
        <h1>Title</h1>  <!--We probably should make a logo-->
        <nav>
            <ul>
                <li><a href='/'>Home</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <div id="content">
            <p class="listing">listing</p>
            <p class="listing">listing</p>
            <p class="listing">listing</p>
            <p class="listing">listing</p>
            <p class="listing">listing</p>
            <p class="listing">listing</p>
            <p class="listing">listing</p>            <p class="listing">listing</p>
            <p class="listing">listing</p>
            <p class="listing">listing</p>
            <p class="listing">listing</p>
            <p class="listing">listing</p>


           
           
       

        </div>

        <div id="sidebar">
            <p id="filters">filters</p>

        </div>

    </main>

    <footer>
        <p id="about">About Us</p>
        <p>Contact</p>

    </footer>

</body>
</html>