//use this to display message maybe, otherwise is redundant and can be deleted

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Success</title>
</head>
<body>
    <h1><%= message %></h1>
    <a href="/">Back</a>
</html>
