<!DOCTYPE HTML>
<html lang="en">
<head>
    <title>Project</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <header>
        <h1>Name</h1>
        <nav>
            <p>Home</p>
        </nav>
    </header>

    <main>
        <div id="content">
            <p class="listing">listing</p>
            <p class="listing">listing</p>
            <p class="listing">listing</p>
            <p class="listing">listing</p>
            <p class="listing">listing</p>
            <p class="listing">listing</p>
            <p class="listing">listing</p>            <p class="listing">listing</p>
            <p class="listing">listing</p>
            <p class="listing">listing</p>
            <p class="listing">listing</p>
            <p class="listing">listing</p>


           
           
       

        </div>

        <div id="sidebar">
            <p id="filters">filters</p>

        </div>

    </main>

    <footer>
        <p id="about">About Us</p>
        <p>Contact</p>

    </footer>

</body>
</html>