html, body{
    height:100%;
    margin:0;
    background-color: black;
    font-family: 'Orbitron', sans-serif;
    overflow: hidden;

}



body{
    display: grid;
    grid-template-rows: 1fr 5fr 0.25fr;
    
}


header{
    background-color: #fb2f38;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
}
nav{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

    align-content: center;
    background-color: #2c52b3;
    height: 25%;
    bottom:0;
    border-bottom:2px solid black;
}

.nav{
    text-align: center;
}
header h1{
    padding: 0em 1em;
}


.head{
    margin:0;
}

main{
    display: grid;
    grid-template-columns: 3fr 1fr;
}
br{
    background-color: black;
}



footer{
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: gainsboro;
    justify-content: center;
    align-content: center;

}

.foot{
    text-align: center;
}

#about{
    text-align: center;
}

#sidebar{
    background-color: beige;

}

#content{
    display: grid;
    grid-template-columns: auto;
    justify-content: center;
    grid-template-rows: auto;
    overflow:scroll;
    padding:0 1em 0 1em;
    max-height: 80vh;
}



.listing{
    text-align: center;
    background-color: oldlace;
    padding:1em;
    width: 40em;
    height: 20em;
    transition: transform 0.3s ease;
    margin:1em 1em 0em 1em;
}

.listing:hover{
    transform:scale(1.05);
}

#sidebar{
    text-align: center;
}

#top{
    flex:1;
    display: flex;
    align-items: center;
}

#about-us, #contact-us{
    color:white;
}

.link{
    text-decoration: none;
    color:black;
}

