<header>
    <div id="top">
        <h1 class="head">
            GunplaSeeker
            <img height="50" src="/images/gundam_logo.png" alt="gundam logo" style="vertical-align:bottom;">
        </h1>
    </div>
    <nav class="head">
        <ul class="nav">
            <li ><a class="anchor" href='/'>Home</a></li>
            <li><a class="anchor" href='/form'>Post</a></li>
            <li><a class="anchor" href='/api/v1/all-listings'>Listing</a></li>
        </ul>
    </nav>
</header>
