<header>
    <div id="top">
        <h1 class="head">
            GunplaSeeker
            <img height="50" src="/images/gundam_logo.png" alt="gundam logo" style="vertical-align:bottom;">
        </h1>
    </div>
    <nav class="head">
        <p class="nav">Home</p>
        <p>Post Listing</p>
    </nav>
</header>
